img {
  vertical-align: middle;
  border-style: none;
}
.content {
  background-image: url(../public/glassesImage/background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}
.content .header {
  background-color: rgba(0, 0, 0, 0.277);
}
.model {
  background-image: url(../public/glassesImage/model.jpg);
  background-position: center top;
  background-size: cover;
  height: 600px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.glasses {
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.glasses img {
  align-self: center;
}
.vglasses__model img {
  position: absolute;
  top: 26%;
  left: 23%;
  width: 238px;
  height: 85px;
  opacity: 0.9;
}

.vglasses__card {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.vglasses__info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: white;
  padding: 20px;
  display: none;
}
.vglasses__model {
  background-image: url(../public/glassesImage/model.jpg);
  background-position: center top;
  background-size: cover;
  height: 600px;
}
